# ENV_NAME OCI_VAULT_SECRET_OCID (copy to /etc/inspection/secrets.map)
POSTGRES_ADMIN_PASSWORD ocid1.vaultsecret.oc1..replace
INSPECTION_RUNTIME_PASSWORD ocid1.vaultsecret.oc1..replace
INSPECTION_WORKER_PASSWORD ocid1.vaultsecret.oc1..replace
DRAGONFLY_PASSWORD ocid1.vaultsecret.oc1..replace
RABBITMQ_PASSWORD ocid1.vaultsecret.oc1..replace
KEYCLOAK_DB_PASSWORD ocid1.vaultsecret.oc1..replace
KEYCLOAK_BOOTSTRAP_USERNAME ocid1.vaultsecret.oc1..replace
KEYCLOAK_BOOTSTRAP_PASSWORD ocid1.vaultsecret.oc1..replace
KEYCLOAK_PROVISIONING_SECRET ocid1.vaultsecret.oc1..replace
TURNSTILE_SECRET ocid1.vaultsecret.oc1..replace
SUPER_ADMIN_PASSWORD ocid1.vaultsecret.oc1..replace
INSPECTION_METRICS_TOKEN ocid1.vaultsecret.oc1..replace
INSPECTION_OTP_PEPPER ocid1.vaultsecret.oc1..replace
OCI_S3_ACCESS_KEY ocid1.vaultsecret.oc1..replace
OCI_S3_SECRET_KEY ocid1.vaultsecret.oc1..replace
SMTP_USERNAME ocid1.vaultsecret.oc1..replace
SMTP_PASSWORD ocid1.vaultsecret.oc1..replace
NOTIFICATION_ACTIVE_PAYLOAD_KEY ocid1.vaultsecret.oc1..replace
NOTIFICATION_PAYLOAD_KEYS ocid1.vaultsecret.oc1..replace
GHCR_USERNAME ocid1.vaultsecret.oc1..replace
GHCR_READ_TOKEN ocid1.vaultsecret.oc1..replace
LITELLM_MASTER_KEY ocid1.vaultsecret.oc1..replace
LLM_API_KEY ocid1.vaultsecret.oc1..replace
