NEXT_PUBLIC_INSPECTION_API_URL=http://localhost:8080/graphql
NEXT_PUBLIC_OIDC_AUTHORIZE_URL=http://localhost:8081/realms/inspection/protocol/openid-connect/auth
NEXT_PUBLIC_OIDC_TOKEN_URL=http://localhost:8081/realms/inspection/protocol/openid-connect/token
NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3002
NEXT_PUBLIC_OIDC_CLIENT_ID=inspection-admin
